/*

  ver los estilos de: ".tarjeta iframe"
  y leer explicacion al final del archivo

*/

@font-face {
  font-family: "comic-sans";
  src: url('fuentes/comic-sans.ttf') format('truetype');
}

@font-face {
  font-family: "comic-sans-italic";
  src: url('fuentes/comic-sans-italic.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;

  font-family: "comic-sans", sans-serif;
  text-align: center;
  color: rgb(56, 46, 46);
}

html {
  background-color: rgb(188, 155, 146);
  font-family: "comic-sans", sans-serif;
}

body {
  width: 100%;
  max-width: 60vh;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  padding: 2vh;
}

.tarjeta {
  margin: 1vh;
  margin-bottom: 2vh;
  padding: 1vh;
  border-radius: 1vh ;

  background-color: rgb(241, 198, 197);
}

.tarjeta h3 {
  padding-bottom: 0.7vh;
}

.tarjeta iframe {
  width: 100%;
  aspect-ratio: 5/6;  /*  <=== OJOPIOJO  */
  /* explicacion al final de este archivo */
}

.tarjeta p {
  font-family: "comic-sans-italic";
}

.tarjeta a {
  font-family: "comic-sans-italic";
}

.modo {
  margin: 20px;
  margin-top: 30px;
}

.modo p {
  margin: 10px;
}

.modo button {
  min-width: 88px;
  min-height: 58px;

  padding: max(7px, 1rem) max(15px, 1.4rem);
  padding-bottom: max(9px, 1.15rem);
  border-radius: max(5px, 0.6rem);
  
  font-size: max(18px, 1.5rem);

  background-color: rgb(237, 222, 221);
}

.modo button:active {
  background-color: rgb(241, 198, 197);
}

footer {
  padding-bottom: 2vh;
  font-size: 0.9em;
  font-family: "comic-sans-italic";
}

/*

  OJOPIOJO A LAS MEDIDAS DE LOS IFRAMES

  La proporcion ancho/alto del iframe
  tiene que ser igual a las de los sketchs.

  los numeros que se le pasan a createCanvas
  no determinan el tamaño de la vista (eso se hace aqui)
  pero son la resolucion interna, la cantidad de pixeles.

  tienen que coincidir las proporciones (la division),
  los numeros en concreto no importan.

  css tiene un regalito perfecto para controlar esto:
  aspect-ratio (o relacion de aspecto). asi se determina
  una sola medida y la segunda se calcula automaticamnte.

  Por ejemplo: en esta pagina los iframes usan el 100%
  del ancho de su contenedor, y el alto se calcula solo.
  podria hacerse al reves tambien (primero la altura)
  y/o podrian usarse otras unidades (px, vh, etc).

  Ojo: si los sketchs tienen diferentes proporciones
  entonces hay que seleccionar cada iframe por separado.
  seria algo asi...
  ------------------------------
  #sk1 {
    width: 100%;
    aspect-ratio: 1/2;
  }

  #sk2 {
    width: 100%;
    aspect-ratio: 9/16;
  }

  #sk3 {
    width: 100%;
    aspect-ratio: 1/1;
  }

  #sk4 {...etc etc
  ------------------------------
  en vez de una clase, selecciona los id uno por uno,
  y ajusta la relacion de aspecto segun corresponda.

  cualquier duda preguntame!!!
  saludos y aguante css vanila <3

*/