* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  background-color: tan;
}

iframe {
  width: 80vw;
  aspect-ratio: 5/6; /* misma proporcion que widht/height de los skecth !!!  */
}
