html {
  overflow: hidden;
  height: 100vh;
  height: 100dvh;
}

.snap-contenedor {
  scroll-snap-type: y mandatory; /* snap vertical obligatorio */
  overflow-y: scroll;
  height: 100%;
  scroll-behavior: smooth; /* movimiento suavizado */
  overscroll-behavior: contain; /* quita efecto de sobrescroll */
}

.snap-contenedor::-webkit-scrollbar {
  display: none;
}

.snap-item {
  scroll-snap-align: start; /* anclaje al inicio de cada item */
}

.snap-item:not(:first-child) {
  min-height: 100vh;
  min-height: 100dvh;
}
